@include('partials/header')
<body>
  @include('partials/navBar')
  <main>
    <h1>Contact</h1>
    <p>
    My email: tymothe_billerey[at]fastmail[dot]fr <br>
    My pgp:
    </p>
    <ul>
      <li>
        KeyID:
      </li>
      <li>
        Fingerprint:
      </li>
    </ul>
    <p>
    My github: <a href="https://github.com/Neptunium931">Neptunium931</a>
    </p>

  </main>
</body>
@include('partials/footer')
