@include('partials/header')

</script>
<body class="test">
  <main>
    <p>
      Hello world
    </p>
    <div x-data="{ count: 0 }">
      <button x-on:click="count++">Increment</button>

      <span x-text="count"></span>
    </div>
    <a href="/" up-layer="new">
      Read full story
  </a>
  </main>
</body>

@include('partials/footer')
