@include('partials/header')
<body>
  @include('partials/navBar')
  <main>
    <article>
      <h1>About Me</h1>
      <h2>Tymothé Billerey (Neptunium93/Neptunium931)</h2>
      <P>
      I am a French cyberSecurity student. <br>
      I am passionate about server administration,
      software development, operating systems. <br>
      I also do electronics, cycling, archery, mechanics
      </p>
    </article>
  </main>
</body>
@include('partials/footer')
